* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body, html {
 height: 100%;

}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: rgba(181, 125, 191, 0.485);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.logo {
  width: 50px;
  height: auto;
}

.nav {
  display: flex;
  gap: 1.5rem;

}

.nav-link {
  color: rgb(218, 218, 238);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction:row;
  padding-top: 60px;
}


.hero {
  background-image: url(https://cdn.create.vista.com/api/media/small/633537894/stock-photo-cute-long-haired-red-chihuahua-dog-walking-street-little-doggy) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  position: relative;

}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  text-align: center;
  background-color: rgba(181, 125, 191, 0.485);
  position: relative;
  z-index: 2;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  margin-right: 2rem;

}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(254, 255, 240);
}

.button {
  background-color: rgba(234, 205, 58, 0.407);
  color: #f6f3f3;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}
