
.dog-details {
    min-height: calc(100vh - 60px); 
    padding: 2rem;
    background-color: #a28aba;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-image {
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.dog-info {
    width: 100%;
}

.dog-name {
    font-size: 2rem;
    color: #ebf4f0;
    margin-bottom: 1rem;
    
}

.dog-breed,
.dog-age,
.dog-sex,
.dog-chip-number,
.dog-owner,
.dog-owner-phone {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #ebf4f0;
}

.back-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(234, 205, 58, 0.407);
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 5px;
    
}

.back-button:hover {
    background-color: #333;
}

.loading,
.error,
.not-found {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.error {
    color: #e74c3c;
}
